{
  "username":"%username%",
  "password":"%password%",
  "basic_auth_username":"%basic_auth_username%",
  "basic_auth_password":"%basic_auth_password%",
  "oidc_provider":"%oidc_provider%",
  "REACT_APP_ENV": "%environment%"
}