@import "node_modules/nhsuk-frontend/packages/core/all";
@import "node_modules/nhsuk-frontend/packages/components/button/button";
@import "node_modules/nhsuk-frontend/packages/components/input/input";
@import "node_modules/nhsuk-frontend/packages/components/tables/tables";

.spinner-button {
    border: nhsuk-spacing(1) solid rgba($color_nhsuk-white, 0.3);
    border-top: nhsuk-spacing(1) solid $color_nhsuk-white;
    animation: spin 1s linear infinite;
    box-sizing: border-box;
    margin: 5px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.spinner-blue {
    animation: spin 2s linear infinite;
    border: nhsuk-spacing(3) solid $color_nhsuk-grey-4;
    border-top: nhsuk-spacing(3) solid tint($color_nhsuk-blue, 15%);
    display: inline-block;
    box-sizing: border-box;
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.nhsuk-loader {
    @include nhsuk-responsive-margin(4, bottom);
    @include nhsuk-responsive-margin(4, top);
    position: relative;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    &__text {
        @include nhsuk-typography-responsive(19);
        padding-bottom: 16px;
        font-weight: 700;
        display: block;
        margin-bottom: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
