const config = {
    Auth: {
        region: "%region%",
        providerId: "%oidc-provider-id%",
        oauth: {
            scope: ["openid"],
            redirectSignIn: "%redirect-signin%",
            redirectSignOut: "%redirect-signout%",
            responseType: "code",
        },
    },
    API: {
        endpoints: [
            {
                name: "doc-store-api",
                endpoint: "%api-endpoint%",
            },
        ],
    },
    features: {
        local: {
            OIDC_AUTHENTICATION: false,
        },
        dev: {
            OIDC_AUTHENTICATION: false,
        },
        "pre-prod": {
            OIDC_AUTHENTICATION: false,
        },
        prod: {
            OIDC_AUTHENTICATION: true,
        }
    }
};

export default config;