const config = {
    Auth: {
        region: "eu-west-2",
        userPoolId: "eu-west-2_Y8etyk9V6",
        userPoolWebClientId: "7mm2u6re8jsptrgallf74g2c6c",
        providerId: "COGNITO",
        oauth: {
            domain: "https://doc-store-user-pool.auth.eu-west-2.amazoncognito.com",
            scope: ["openid", "associatedorgs", "nationalrbacaccess"],
            redirectSignIn: "http://localhost:3000/cis2-auth-callback",
            redirectSignOut: "http://localhost:3000",
            responseType: "grant",
        },
    },
    API: {
        endpoints: [
            {
                name: "doc-store-api",
                endpoint: "http://localhost:3000/restapis/%api-gateway-id%/%api-gateway-stage%/_user_request_"
            },
        ],
    },
    features: {},
};

export default config;
