const config = {
    Auth: {
        region: "%region%",
        userPoolId: "%pool-id%",
        userPoolWebClientId: "%client-id%",
        providerId: "%oidc-provider-id%",
        oauth: {
            domain: "https://%cognito-domain%",
            scope: ["openid"],
            redirectSignIn: "%cognito-redirect-signin%",
            redirectSignOut: "%cognito-redirect-signout%",
            responseType: "code",
        },
    },
    API: {
        endpoints: [
            {
                name: "doc-store-api",
                endpoint: "%api-endpoint%",
            },
        ],
    },
    features: {},
};

export default config;