{
  "username": "555042709107",
  "password": "FzAy4aUb",
  "oidc_provider": "cis2devoidc",
  "basic_auth_username":"%basic_auth_username%",
  "basic_auth_password":"%basic_auth_password%",
  "REACT_APP_ENV": "%environment%"
}